{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>VMS</title>


  </head>
  <body>

    <div class="container">
        <!-- use jinja to show data  -->
        {% if records %}
        {% for record in records %}

        <table class="table table-dark"   style="border:2px solid red">
            
            <tbody>
            <tr>
                <td>First Name</td>
                <td>{{ record.fname }}</td>
                <td>Last Name</td>
                <td>{{ record.lname }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ record.email }}</td>
                <td>Phone No.</td>
                <td>{{ record.phone }}</td>
            </tr>
            <tr>
                <td>Company Name</td>
                <td>{{ record.cname }}</td>
                <td>Purpose</td>
                <td>{{ record.purpose }}</td>
            </tr>
            <tr>
                <td>Person To Meet</td>
                <td>{{ record.ptm }}</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>
                    <h5>Signature</h5><br>
                    <img src="{{ record.signature.url}}" alt="" width="200" height="100">
                </td>

                <td>
                    <h5>Profile Picture</h5><br>
                    <img src="{{ record.profile.url}}" alt="" width="200" height="200">
                </td>

                <td>
                    <h5>QR Code</h5><br>
                    <!-- Use API to show QR by Visitor ID -->
                    <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ record.id}}" alt="Qr">
                </td>
                
                <td></td>
            </tr>
            
            </tbody>
        </table>

        {% endfor %}
        {% else %}
        <h1>Data Not Found</h1>
        {% endif %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>